<%
//code EJS qui teste si la variable user existe
// - si elle existe,la variable est inchangée
// - si elle n existe pas,elle est créée et initialisée avec une chaine
if(typeof user === 'undefined'){
    user['nickname'] = 'undefined';
    user['sex'] = 'undefined'
};
if(typeof user['nickname'] === 'undefined'){
    user['nickname'] = 'undefined';
}
if(typeof user['sex'] === 'undefined'){
    user['sex'] = 'undefined';
}
%>

        <p>Ceci est ma premiére page en EJS !</p>
        
        <h1>
            Bonjour 
            <% if (user['nickname'] === 'undefined' && user['sex'] === 'undefined' ){ %>
                bel(le) inconnu(e)
            <% }
            else{
                if(user['nickname'] === 'undefined'){
                    if(user['sex'] === 'male'){ %>
                        bel inconnu
                    <% }
                    if(user['sex'] === 'female'){ %>
                        belle inconnue
                    <% }
                }
                else{
                    if(user['sex'] === 'undefined'){ %>
                        <%= user['nickname'] %>
                    <% }
                    else{
                        if(user['sex'] === 'male'){ %>
                            Mr <%= user['nickname'] %>
                        <% }
                        if(user['sex'] === 'female'){ %>
                            Mme <%= user['nickname'] %>
                        <% }
                    }
                }
            } %>
            
        </h1>
