<form action="/user/form" method="post">
    <div class="row g-3 align_items_center">
        <div class="col-auto">
            <label for="firstname" class="form-label">
                Prénom
            </label>
        </div>
        <div class="col-auto">
            <input type="text" id="firstname" name="firstname" class="form-control">
        </div>

        <div class="col-auto">
            <label for="lastname" class="form-label">
                NOM
            </label>
        </div>
        <div class="col-auto">
            <input type="text" id="lastname" name="lastname" class="form-control">
        </div>
        <div class="col-auto">
            <button type="submit" name="button" value="bouton_01" class="btn btn-primary" >
                Submit
            </button>
        </div>
    </div>
</form>