<header>
    <div>
        BEST OLD MOVIES
    </div>
    <div>
        <button onclick="window.location.href='http://127.0.0.1:3000/';">home</button>
        <button onclick="window.location.href='http://127.0.0.1:3000/movies/';">list</button>
        <button onclick="window.location.href='http://127.0.0.1:3000/movies/create';">create</button>
    </div>
</header>