<div class="movie_list">
    <img src="<%= movies[i].image %>">
    <div><%= movies[i].title %></div>
    <form action="http://127.0.0.1:3000/movies/read" method="post">
        <input type="submit" name="more" value="movies[i].id"> 
    </form>
</div>