<h1>Enseignements</h1>
<a href="http://127.0.0.1:<%= process.env.PORT %>/teaching/javascript">javascript</a>
<a href="http://127.0.0.1:<%= process.env.PORT %>/teaching/php">php</a>
<a href="http://127.0.0.1:<%= process.env.PORT %>/teaching/node">node</a>
<a href="http://127.0.0.1:<%= process.env.PORT %>/teaching/node/express">node express</a>