html,body{
    margin: 0;
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    text-align: center;
}
header,footer{

    background: lightslategray;
    align-items: center;
    justify-content: center;
    display: flex;
}
header{
  display: flex;
    justify-content: space-between;
    padding: 8px;

}
.present{
    display: flex;
    justify-content: left;
    background-color: gray;
    color: white;
    height: 30px;
    align-items: center;
}
footer{
   color: black;

}
#content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-align: left;
}
#content .scrollable{
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.joke{
    margin: 5px 0;
    background: gainsboro;
    padding: 15px;

    box-shadow: 2px 2px 5px black;
    font-size: 1em;
}
#jokes{
    width: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    overflow: auto;
}
a{
    color: black;
    text-decoration: none !important;

}
a:hover{
    color: initial;
}