@font-face {
    font-family: EastDjakartaFont;
    src: url(./font/EastDjakartaFont.ttf);
}

html,body{
    margin: 0;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    text-align: center;
}

header,footer{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightslategray;
}

#content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-align: left;
    align-items: center;
}

#content .scrollable{
    display: flex;
    flex-direction: column;
    overflow: auto;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    font-family: EastDjakartaFont;
}

footer{
    color: black;
}

.buttonHeader{
    background-color: dimgray;
    color: white;
    border: 0px;
    padding: 10px;
    font-family: EastDjakartaFont;
}

a{
    color: black;
}

.jokes{
    padding: 10px;
    background-color: lightgray;
    border: gray 1px solid;
    border-radius: 6px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 6px;
    margin-bottom: 6px;
    box-shadow: dimgray 4px 4px 5px;
}

.scrollable{
    margin-top: 20px;
}

.jokesPresent{
    padding: 10px;
    background-color: lightgray;
    border: gray 1px solid;
    border-radius: 6px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 6px;
    margin-bottom: 6px;
    box-shadow: dimgray 4px 4px 5px;
    font-size: 3em;
}

.error{
    padding: 10px;
    background-color: red;
    color: black;
}