html, body{
    margin: 0;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    text-align: center;
}

header, footer{
    height: 50px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: darkgray ;
    color: white;
}

#content{
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow: hidden ;

    text-align: left;
}

#content .scrollable{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: auto;
}

.location{
    width: 100%;
    padding: 5px;
    background: gray;
    color: white;
    text-align: left;
}