<% if(typeof movies === 'undefined'){movies = [];} %>
<div>
    <% for(var i=0;i<movies.length;i++){ %>
            <div class="case">
                <div class="title"><%= movies[i].title %></div>
                <div>
                    <% if(movies[i].synopsis.length > 100){ %>
                        <%= (movies[i].synopsis).substr(0,100) %> ...
                    <% } else { %>
                        <%= movies[i].synopsis %>
                    <% } %>
                </div>
            </div>
    <% } %>
</div>