<% if(typeof movie != 'undefined' && movie != null){ %>
        <h1><%= movie.title %></h1>
        <% if(movie.synopsis != null){ %>
            <div>
                <%= movie.synopsis %>
            </div>
        <% }
    } else{ %>
    <h1>erreur pas de film</h1>
<% } %>