<% if(typeof errorConnection === 'undefined'){
        errorConnection = 0;
}%>
<form id="formLogin" method="POST">
    <label>Please Login</label>
    <input type="text" id="username" name="username">
    <% if(errorConnection == 1 || errorConnection == 2){ %>
            <div class="error">User name should not be empty</div>
    <% } %>
    <input type="text" id="password" name="password">
    <% if(errorConnection == 1 || errorConnection == 3){ %>
            <div class="error">Password should not be empty</div>
    <% } %>
    <button type="submit" name="boutonSubmit">Login</button>
    <% if(errorConnection == 4){ %>
            <div class="error">Bad credentials</div>
    <% } %>
</form>