html,body{
    margin: 0;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    text-align: left;
}

header,footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

header{
    justify-content: space-between;
    height: 100px;
    background-image: url('../images/cinema.jpg');
    background-size: 100% 150%;
}

footer{
    height: 70px;
    background-image: url('../images/stars.jpg');
    background-size: 100% 170%;
}


#content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-align: left;
    align-items: center;
}

#content .scrollable{
    display: flex;
    flex-direction: column;
    align-items: left;
    overflow: auto;
}

.case{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    border:solid black;
    border-width: 0px 0px 1px 0px ;
    margin-left: 50px;
    margin-right: 50px;
}

.title{
    width: 20%;
}

#list_div{
    display: flex;
    flex-wrap: wrap;
}

.movie_list{
    width: 30%;
    margin-top: 30px;
}

#image_presentation{
    display: flex;
    justify-content: center;
}

.scrollable{
    margin-left: 20px;
    margin-right: 20px;
}

#update{
    display: flex;
    flex-direction: column;
}

.updateCase{
    margin: 10px;
}

#updateSynopsis{
    width: 250px;
    height: 100px;
}

#create{
    display: flex;
    flex-direction: column;
}

.createCase{
    margin: 10px;
}

#createSynopsis{
    width: 250px;
    height: 100px;
}