<h1>Bienvenue chez Diallo Boubacar</h1>

<a href="http://127.0.0.1:<%= process.env.PORT %>/presentation">presentation</a>
<a href="http://127.0.0.1:<%= process.env.PORT %>/research">research</a>
<a href="http://127.0.0.1:<%= process.env.PORT %>/teaching">teaching</a>