<% if(typeof data === 'undefined'){ %>
    <div>erreur fichier</div>
<% }
    else{
        it = 0
        for(const elem of data){
            it = it+1
            %>
            <button onclick="window.location.href='http://127.0.0.1:<%= process.env.PORT || 3000 %>/jokes/joke/<%= elem.id %>';" class="jokes" name="button_<%= it %>">
                <%= elem.joke %>
            </button>
        <% }
    } %>