<% if(typeof data === 'undefined'){ %>
    <div>erreur fichier</div>
<% }
    else{ %>
            <div class="jokesPresent">
                <%= data[Math.floor(Math.random() * data.length)].joke %>
            </div>
   <% } %>