<% if(typeof data === 'undefined' || typeof id_value === 'undefined'){ %>
    <div>erreur fichier</div>
<% }
else{
    trouve = false;
        for(const elem of data){
            if(elem.id === id_value){ %>
                <div class="jokesPresent">
                    <%= elem.joke %>
                </div>
            <% trouve = true;
                break;
            }
        }
        if(!trouve){ %>
            <div class="error">
                identifiant non trouve
            </div>
        <% }
} %>