<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Test EJS</title>
        <link rel="stylesheet" href="/css/mains.css">
    </head>
    <body>
</html>