<div style="width: 100% ; height: 100% ; display: flex ; flex-direction: column">
    <div style="flex : 1 ; display: flex; justify-content: center ; align-items: center">
        <b>&copy; Copyright 2022 G. Bourguin</b>
    </div>
</div>

