<div style="width: 100% ; height: 100% ; display: flex ; flex-direction: column">
    <div style="flex : 1 ; display: flex; flex-direction: column ; justify-content: center ; align-items: center">
        <h1 >
            Bienvenue sur Démo Routage Express
        </h1>
        <img style="width: 40% ; margin-top: 20px" src="/images/routing.png">
    </div>
</div>