html,body{
    margin: 0;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    text-align: center;
}

header{
    padding-left: 10px;
    height: 60px;
    align-items: center;
    justify-content:space-between;
}

#content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-align: left;
}

#content .scrollable{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#boutons{
    margin-right: 10px;
}

button{
    background-color: darkslategray;
    color: aliceblue;
    padding: 10px;
    border: 0px;
}

.present{
    display: flex;
    justify-content: left;
    background-color: gray;
    color: white;
    height: 30px;
    align-items: center;
}

#contenu{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header,footer{
    display: flex;
    background: rgb(172, 172, 172);
    color: white;
}

footer{
    justify-content: center;
}

#about{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}