<header>
    <div>
        <h1>Démo Routage Express</h1>
    </div>
    <div id="boutons">
        <button onclick="window.location.href='http://127.0.0.1:<%= process.env.PORT %>/';">Accueil</button><button onclick="window.location.href='http://127.0.0.1:<%= process.env.PORT %>/about/';">A propos</button>
    </div>
</header>