html,body{
    margin: 0;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    text-align: left;
}

header,footer{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: darkred;
    color: white;
}

header{
    justify-content: space-between;
}

#content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-align: left;
}

#content .scrollable{
    display: flex;
    flex-direction: column;
    align-items: left;
    overflow: auto;
}

.case{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    border:solid black;
    border-width: 0px 0px 1px 0px ;
    margin-left: 50px;
    margin-right: 50px;
}

.title{
    width: 20%;
}