<header>
    <div>
        BEST OLD MOVIES
    </div>
    <div>
        <button onclick="window.location.href='http://127.0.0.1:3000/movies';">/movies</button>
        <button onclick="window.location.href='http://127.0.0.1:3000/movies/create';">/movies/create</button>
        <button onclick="window.location.href='http://127.0.0.1:3000/movies/read';">/movies/read</button>
        <button onclick="window.location.href='http://127.0.0.1:3000/movies/update';">/movies/update</button>
        <button onclick="window.location.href='http://127.0.0.1:3000/movies/delete';">/movies/delete</button>    
    </div>
</header>