

<p>Ceci est ma première page en EJS !!!</p>


<h1>
    <% if (user && user.sex === 'male') { %>
        Bonjour bel
        <% if (user.nickname) { %>
            <%= 'M.' + user.nickname %>
        <% } else { %>
             inconnu
        <% } %>
    <% } else if (user && user.sex === 'female') { %>
        Bonjour belle
        <% if (user.nickname) { %>
            <%= 'Mme ' + user.nickname %>
        <% } else { %>
             inconnue
        <% } %>
    <% } else { %>
        Bonjour bel(le) inconnu(e)
    <% } %>
</h1>
