<header>
    <div>
        <h1>Dad'jokes </h1>
        <a href="/jokes/list">
            <button class="btn btn-secondary">
                ALL
            </button>
        </a>
        <a href="/jokes/random">
            <button class="btn btn-secondary">
                Random
            </button>
        </a>
    </div>
</header>