<div id="jokes">
    <% if (typeof data === 'undefined'){ %>
        <div> erreur fichier </div>

    <% }
    else {
            for(const elem of data){ %>
        <div class="joke">
            <%= elem.joke %>
        </div>
    <%}
    }
    %>
</div>
