<% if (typeof logged == "undefined" ){logged = false;} %>
<header>
    <div>
        Mark III
    </div>
    <div id="title">
        Jarvis Interface
    </div>
    <div id="boutons">
        <% if(logged){ %>
            <button class="buttonHeader" id="buttonLogout" onclick="window.location.href='http://127.0.0.1:<%= process.env.PORT || 3000 %>/jarvis_interface/logout';">logout</button>
        <% }
        else{ %>
            <button class="buttonHeader" onclick="window.location.href='http://127.0.0.1:<%= process.env.PORT || 3000 %>/jarvis_interface/login';">login</button>
        <% } %>
    </div>
</header>