<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X_UA_Compatible" content="ie=edge">
    <title>Routage Express</title>
    <link rel="stylesheet" href="/css/main_ex4.css">
</head>
<body>

<%- include("../partials/header_ex4") %>

<div id="content">
    <div class="scrollable">
        <%- body %>
    </div>
</div>

<%- include("../partials/footer_ex4") %>

</body>
</html>