<header>
    <div>
        <h1>Dad's jokes</h1>
    </div>
    <div id="boutons">
        <button class="buttonHeader" onclick="window.location.href='http://127.0.0.1:<%= process.env.PORT || 3000 %>/jokes/list';">All</button>
        <button class="buttonHeader" onclick="window.location.href='http://127.0.0.1:<%= process.env.PORT || 3000 %>/jokes/random';">Random</button>
    </div>
</header>