@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

html,body{
    margin: 0;
    height: 100%;
    font-family: 'Unica One',cursive;
}

body{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url('../images/jarvis.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

header,footer{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-align: left;
    align-items: center;
}

#content .scrollable{
    display: flex;
    flex-direction: column;
    overflow: auto;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    height: 20%;
    color: white;
}

footer{
    color: white;
    background: black;
}

button{
    background-color: dodgerblue;
    color: white;
    border: 0px;
    padding: 10px;
}

.buttonHeader{
    padding: 10px 15px 10px 15px;
    border: 0px solid;
    border-radius: 7px;
}

#buttonLogout{
    background-color: gray;
}

.scrollable{
    margin-top: 20px;
}

.error{
    padding: 10px;
    background-color: red;
    color: black;
}

#title{
    font-size: 4em;
    height: 100%;
    width: 30%;
}

#nothing{
    font-size: 1.5em;
    color: white;
}

#formLogin{
    background-color: white;
    padding: 40% 10%;
    display: flex;
    flex-direction: column;
}