<% if(typeof data === 'undefined'){ %>
    <div>erreur fichier</div>
<% }
    else{
        for(const elem of data){ %>
            <div class="jokes">
                <%= elem.joke %>
            </div>
        <% }
    } %>