<div>
    <form method="post" action="http://127.0.0.1:3000/movies/create" id="create">
        <label for="title">titre :</label>
        <input class="createCase" type="text" name="title">
        <label for="synopsis">synopsis :</label>
        <textarea class="createCase" id="createSynopsis" name="synopsis">
            
        </textarea>
        <input class="form-control" type="file" id="image" name="image" accept="image/png, image/jpeg, image/jpg">
        <button class="createCase" type="submit">create</button>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', ()=>{
        const submitButton = document.getElementById("submit-button") ;
        const preview = document.getElementById("preview-image") ;

        const reader = new FileReader() ;
        reader.onload = (e)=>{
            preview.src = reader.result ;
        }

        const fileInput = document.getElementById("image") ;
        fileInput.addEventListener('change', ()=>{
            let file = fileInput.files[0] ;

            if(file && file.type.split('/')[0] === "image"){
                reader.readAsDataURL(fileInput.files[0])
                submitButton.disabled = false ;
            }else{
                submitButton.disabled = true ;
                preview.src = "" ;
            }

        })

    })
</script>