<% if(typeof movies === 'undefined'){movies = [];} %>
<div id="list_div">
    <% for(var i=0;i<movies.length;i++){ %>
            <!--<div class="case">
                <div class="title"><%= movies[i].title %></div>
                <div>
                    <% if(movies[i].synopsis.length > 100){ %>
                        <%= (movies[i].synopsis).substr(0,100) %> ...
                    <% } else { %>
                        <%= movies[i].synopsis %>
                    <% } %>
                </div>
            </div> -->
            <div class="movie_list">
                <img src="<%= movies[i].image %>" width="200px" height="400px">
                <div><%= movies[i].title %></div>
                <form action="http://127.0.0.1:3000/movies/read" method="post">
                    <button type="submit" name="more" value="<%= movies[i].id %>"> 
                        more    
                    </button>
                </form>
            </div>  
    <% } %>
</div>