<% if(typeof movie != 'undefined' && movie != null){ %>
    <div>
        <div id="image_presentation">
            <img src="<%= movie.image %>" width="300px" height="450px">
        </div>
            <h1><%= movie.title %></h1>
        <% if(movie.synopsis != null){ %>
            <div>
                <%= movie.synopsis %>
            </div>
        <% } %>
        <div>
            <form method="post" action="http://127.0.0.1:3000/movies/delete">
                <button type="submit" name="delId" value="<%= movie.id %>">
                    Delete
                </button>
            </form>
            <form method="post" action="http://127.0.0.1:3000/movies/update">
                <button type="submit" name="updId" value="<%= movie.id %>">
                    update
                </button>
            </form>
        </div>
    </div>  



<% } else{ %>
    <h1>erreur pas de film</h1>
<% } %>