<header>
    <h1><a href="/" style="color: inherit ; text-decoration: none">Démo Routage Express</a> </h1>
    <div style="flex: 1"></div>
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="/" class="btn btn-secondary">Accueil</a>
        <a href="/about" class="btn btn-secondary">À propos</a>
    </div>
</header>
<div class="location">> <%= location %></div>