<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X_UA_Compatible" content="ie=edge">
        <title>Dad's jokes</title>
        <link rel="stylesheet" href="/css/mains.css">
    </head>
    <body>
        
        <%- include("../partials/header") %>

        <div id="content">
            <div class="scrollable">
                <%- body %>
            </div>
        </div>

        <%- include("../partials/footer") %>

    </body>
</html>