html,body{
    margin: 0;
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    text-align: center;
}
header,footer{
    display: flex;
    background:green;
    color: white;
}
header{
    padding-left: 10px;
    height: 60px;
    align-items: center;
    justify-content:space-between;
}
.present{
    display: flex;
    justify-content: left;
    background-color: gray;
    color: white;
    height: 30px;
    align-items: center;
}
footer{
   justify-content: center;

}
#content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-align: left;
}
#content .scrollable{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
#contenu{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#about{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
